# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xiumxugolyfsvwnwzenp.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpdW14dWdvbHlmc3Z3bnd6ZW5wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNTE5MjUsImV4cCI6MjA5MzkyNzkyNX0.f7xSwOD5KzUuIg1aJQmdjzFQd4Auslo5P5P-w9bDh1I
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhpdW14dWdvbHlmc3Z3bnd6ZW5wIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODM1MTkyNSwiZXhwIjoyMDkzOTI3OTI1fQ.rWFPa69KCkvBjnJ3k6wZ9m8LkxxnKyX4kFlELdkiN4U
DATABASE_URL=postgres://postgres:[546jhordi123]@db.xiumxugolyfsvwnwzenp.supabase.co:5432/postgres

# Xendit (Payment)
XENDIT_SECRET_KEY=your-xendit-secret-key
XENDIT_WEBHOOK_TOKEN=your-xendit-webhook-token

# Biteship (Logistics Automation)
BITESHIP_API_KEY=your-biteship-api-key
BITESHIP_ORIGIN_AREA_ID=IDNP0101 # Default Jakarta/Tangerang

# RajaOngkir (Legacy Shipping Cost)
RAJAONGKIR_API_KEY=your-rajaongkir-api-key

# Fonnte (WhatsApp OTP)
FONNTE_API_TOKEN=your-fonnte-token

# Resend (Email)
RESEND_API_KEY=your-resend-api-key

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
